body {
  background-color: #c1bdba;
  color: #f5f5f5;
}

.header {
  background-color:#24333d;
  padding-left: 50px;
  color: #fff;
}
.blogin{
 background-color: #24333d;
 margin-top: 5%;
 border-radius: 4px;
 box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
#user {
  color: #fff;
  margin-top:2%;
}
#user >span {
  padding-left: 12px;
  font-size: 1.5em;
}
#account {
  color: black;
}
#signout{
  margin-top: -15%;
  margin-left: 10%;
  color:black;
}
.linkheader {
  background: #24333d;
  max-height: 15px;
}
.linkheader > h3 > a {
  float: right;
  padding-right: 6%;
}

.home > h1,
h2,
p {
  text-align: center;
  color: #1127c6;
}

.btn-toolbar .btn,
.btn-toolbar .btn-group,
.btn-toolbar .input-group {
  float: none;
}

.side {
  text-transform: uppercase;
  text-align: center;
  color: navy;
  margin-top: 5%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.botton {
  min-height: 80px;
  background-color: #1127c6;
  min-width: 180px;
  color: #fff;
}
.lgbotton {
  min-height: 50px;
  background-color: #5cb85c;
  min-width: 100px;
  color: #fff;
}

.text > textarea {
  resize: auto;
  outline: none;
  overflow: hidden;
  resize: none;
}
.grouplist > li {
  list-style: none;
  padding-right: 15px;
  text-decoration: none;
}
.grouplist > li > a {
  text-decoration: none;
  color: #f5f5f5;
}
.groupdisplay {
  margin: 20px 50px;
}
.modal-footer {
  background-color: #f9f9f9;
}
.modal-body{
  background-color: #24333d;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}
.modal-header,
h4,
.close {
  background-color: #5cb85c;
  color: white !important;
  text-align: center;
  font-size: 30px;
}
input {
  text-align: center;
  background-color: #fff;
  border: 2px solid transparent;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 200;
  padding: 10px 0;
  width: 250px;
  transition: border 0.5s;
  text-transform:capitalize;
  color: #000;
}

input:focus {
  border: 2px solid #3498db;
  box-shadow: none;
}

.avater {
  width: 5%;
}
.addgroup {
  margin-bottom: 2%;
  margin-top: 2%;
}
.newrow {
  height: 80px;
}
.scroll {
  max-height: 300px;
  overflow-x: scroll;
}
// .aside {
//   border-bottom: 2px solid;
// }
.create {
  margin-top: 100px;
}
.asidelist {
  background-color: #24333d;
  min-height: 640px;
  box-shadow: 1px 1px 1px #000; 
}
.bot {
  padding-top: 20px;
  padding-left: 40px;
}
.container {
  margin: 0px;
}
.ps-style {
  margin-top: 30%;
}
.piority {
  margin-left: 15px;
}
.one{
    display: inline-block;
    width: 90%;
    height: 260px;
    background: #1bb188;
    border-radius: 5px;
    box-shadow: 3px 3px 2px #000; 
    margin-top: 8%;
    margin-left: 5%;
}
.one > h3{
    text-align: center;
}
#details{
  font-size: 0.8em;
  padding-left: 2px;
  text-align: center;
  color:#000;
}
.login {
  margin-top: 8%;
  background-color: #5cb85c;
  color: white !important;
  text-align: center;
  font-size: 30px;
  height: 55px;
  padding-top: 2px;
}
.panel-heading {
    padding: 0px 0px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    min-height: 450px;
}
.panel-body {
  padding: 0px;
}
  // .panel{
  //   margin-bottom: 2px;
  // }
@media (min-width: 1200px) {
  .container {
    width: 100%;
  }
}
