  body{
      background-color: #f2f3f9;
  }

.header {
  background-color: navy;
  padding: 5px 0 10px 50px;
  color:#FFF;
 
}
.home > h1, h2, p{
text-align: center;
color: #1127c6;

}

.btn-toolbar .btn, .btn-toolbar .btn-group, .btn-toolbar .input-group {
    float: none;
}

.side{
text-transform: uppercase;
text-align: center;
color: navy;
margin-top: 5%;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.botton{
  min-height: 80px;
    background-color:#1127c6; 
    min-width: 180px;
    color: #FFF;
    
}
.lgbotton{
  min-height: 50px;
    background-color:#5cb85c; 
    min-width: 100px;
    color: #FFF;
   
    
}
.text > textarea{
    width: 100%;
    resize: auto;
    outline: none;
    overflow: hidden;
    border-radius: 3px;
    border: 2px solid;
    resize: none;
}
.grouplist > li{
list-style: none;
padding-right: 15px;
text-decoration: none;
}
.grouplist >li > a{
text-decoration: none;
// padding: 40px;
// padding-top: 60px;
color: #000;
}
.groupdisplay{
    margin:20px 50px;
}
 .modal-footer {
      background-color: #f9f9f9;
  }
.modal-header, h4, .close {
      background-color: #5cb85c;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
input {
text-align: center;
background-color: #FFF;
border: 2px solid transparent;
border-radius: 3px;
font-size: 16px;
font-weight: 200;
padding: 10px 0;
width: 250px;
transition: border .5s;
}

input:focus {
border: 2px solid #3498DB;
box-shadow: none;
}

.avater{
width: 5%;
}
.addgroup{
    margin-bottom: 2%;
    margin-top: 2%;

}
.newrow{
   height: 80px;

}
.scroll{
    max-height: 300px;
    overflow-x: scroll;
}
.aside{
    border-bottom: 5px solid;
}
.create{
    margin-top: 100px
}
.asidelist{
    background-color: lavender;
     min-height: 640px;
}
    .bot{
        padding-top: 20px;
        padding-left: 40px;
    }
.container {
    margin:0px;
}
.ps-style{
    margin-top: 30%;
}
.piority{
    margin-left: 15px;
}
@media (min-width: 1200px){
.container {
    width: 100%;
}
}
